<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
    </button>
    
    <% if current_user %>
      <div>Ãrea Administrativa</div>
    <% else %>
      <div>Empresa: <%= current_company_user.company.name %></div>
    <% end %>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">


    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
        <% if current_user %>
          Administrador 
        <% else %>
          <%= current_company_user.name %>  
        <% end %>
        </span>
        <%= image_tag  "/images/user.png", size: "60x60", class: "img-profile rounded-circle" %>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        
        
        <div class="dropdown-divider"></div>
        <% if current_user %>
            <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } do %> 
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
            <% end %>
        <% else %>
          <%= link_to edit_company_edit_password_path(current_company_user), class: "dropdown-item" do %>
             <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                Editar Senha
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_company_user_session_path, class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } do %> 
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
            <% end %>
        <% end %>
        </div>
    </li>

    </ul>

</nav>
<!-- End of Topbar -->
 