<div class="card shadow p-3 mb-5"> 
  <div class="card-body">
    <%= form_with(model: [:admin, company], local: true, html: {class: "needs-validation", novalidate: true}) do |form| %>
      <% if company.errors.any? %>
        <div class="alert alert-alert" id="error_explanation">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
          <% company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="row">
        <div class="form-group">
          <div class="col-lg-9">
            <%= form.label :logo %>
            <%= form.file_field :logo, class: "form-control", required: "required" %>
          </div>
          
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", required: "required" %>
          </div>
         
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :fantasy_name %>
            <%= form.text_field :fantasy_name, class: "form-control", required: "required" %>
          </div>
         
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control", required: "required" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :category %>
            <%= form.select(:category_ids, Category.all.collect {|p| [ p.name, p.id ] }, {}, { class: "form-control", id: "multiselect", multiple: true, required: "required"  })%>
          </div>
        </div>
      </div>


      <div class="actions">
        <%= form.submit "Salvar", class: "btn btn-primary" %>
        <%= link_to "Voltar", admin_companies_path, class: "btn btn-success" %>
      </div> 
    <% end %>
  </div>
</div>





